# deps
node_modules/
.pnp
.pnp.js

# build outputs
dist/
build/
.next/
out/

# env
.env
.env*.local
!.env.example

# logs
*.log
npm-debug.log*

# prisma
apps/api/prisma/migrations/.tmp/

# flutter
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/build/
apps/mobile/.pub-cache/
apps/mobile/.pub/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# ts build cache
*.tsbuildinfo
